{{ partial "head.html" . }}
{{ partial "header.html" . }}



<!-- Grid -->
<div class="w3-row">

<div class="w3-container w3-center w3-padding-32">
 <h1>Coin lecture</h1>
 <h6>Ouvrages classés (à peu près) par ordre de parution</h6>

</div>
    <!-- Blog entries -->
    <div class="w3-col l8 s12">

    {{ $paginator := .Paginate (where .Data.Pages "Type" "bibliographie") }}
          {{ range .Paginator.Pages }}
        <!-- Blog entry -->
        <article class="w3-card-4 w3-margin w3-light-grey">
                   <div class="w3-container">
                                <div class="w3-row w3-padding-large">
                                            <a href="{{ .Permalink }}">
                                                <h3>{{ .Title }}</h3>
                                                {{ if .Params.subtitle }}
                                                <h5>
                                                {{ .Params.subtitle }}
                                                </h5>
                                                {{ end }}
                                            </a>
                                </div>

                    </div>

                    <div class="w3-container">
                            <div class="w3-row">

                                    <div class="w3-third w3-padding-large">
                                            {{ if .Params.image }}
                                               <p> <img src="{{ .Params.image }}" alt="{{ .Title }}" style="height: auto;  max-width: 100%;  margin-left: auto;  margin-right: auto;  display: block" /></p>
                                            {{ end }}
                                    </div>
                                    
                                    <div class="w3-twothird"><h6>Résumé / 4<sup>e</sup> couv.</h6>
                                                {{ .Content }}
                                    </div>
                                                     
                            

                                    
                                    
                                    
                                    
                            </div>
                </div>


        </article>
        {{ end }}    <hr>
    </div>

<!-- barre laterale -->
<div class="w3-col l4">

  <!-- Panneau 1 -->

{{if .IsHome}} 
   {{ partial "panneau1.html" . }}
{{ else }}
   {{ partial "panneau1bis.html" . }}
{{ end }}

<hr>
  
  <!-- Panneau 4 auteurs -->
   {{ partial "panneau4auteurs.html" . }}


  <hr> 
 
  {{ partial "panneau2.html" . }}
  
<!-- END barre laterale -->
</div>





</div> <!--end grid -->

</div> <!-- END w3-content -->


<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          
            {{ if .Paginator.HasPrev }}
  

<form style="display: inline" action="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">&larr; {{ i18n "newerPosts" }}</button>
</form>


            {{ end }}
            {{ if .Paginator.HasNext }}
                

<form style="display: inline" action="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">{{ i18n "olderPosts" }} &rarr;</button>
</form>




            {{ end }}
        {{ end }}






{{ partial "footer.html" . }}







