{{ if .Site.Params.dominante }}
<body class="w3-{{ .Site.Params.dominante }}">
{{ else}}
<body class="w3-light-grey">
{{ end}}

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header 
<header class="w3-container w3-center w3-padding-small">
{{if .IsHome}} 
  <h1 class="w3-padding-small">{{ .Title }}</h1>
{{ if .Site.Params.subtitle }}
  <p>{{ .Site.Params.subtitle }}</p>
{{end}}

{{end}}
</header>


-->

