<body>




<div class="navbar" id="manavbar">
        <a class="premierecasenavbar" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
            {{ range .Site.Menus.main.ByWeight }}
                <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>

            {{ end }} 
{{ if .Site.Author.mastodon }}
<a href="{{ .Site.Author.mastodon }}">&#128172;</a>
{{ end }}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
&#9776;
</a>

       
</div>
<div class="entete">


{{ if .Site.Params.logo }}
                <img src="{{ .Site.Params.logo }}" alt="logo" />
{{ end }}



<div class="cartouchedetitre">

{{if .IsHome}}
<h1>{{ .Title }}</h1>
{{ if .Site.Params.subtitle }}
<h2>{{ .Site.Params.subtitle }}</h2>
{{end}}
<hr />
{{end}}
</div>

</div>


